
[submodule "experiments"]
	path = experiments
	url = ../cleverspeech-exp.git
	branch = master
[submodule "cleverspeech"]
	path = cleverspeech
	url = ../cleverspeech-py.git
	branch = master
[submodule "models/DeepSpeech/src"]
	path = models/DeepSpeech/src
	url = ../DeepSpeechAdversary.git
	branch = adversarial-v0.4.1
