# basic stuff
__pycache__
venv
.idea
*.pyc
notes/
/scratch/*
*.log
*tmp*

# python build dirs
/build/
/cleverSpeech.egg-info/
# in/out data directories and file types
/samples/
/silence/
/reference-signals/
*adv*
*-logits/
*.tar*
*delta.wav
*.wav
*.csv
*.json
docker_build