# basic stuff
__pycache__
venv
.idea
*.pyc
notes/
/scratch/*
*.log
*tmp*

# model specifics
/models/
!/models/DeepSpeech_v041/
/models/*/data/*

# in/out data directories and file types
/samples/
/silence/
/reference-signals/
*adv*
*-logits/
*.tar*
*delta.wav
*.wav
*.csv
*.json
