__pycache__
venv
.idea
*.pyc
sample*
silence*
*example.wav
*delta.wav
*adv*
*.wav
notes/
*.log
*-logits/
/experiments/*/data/
/tmp/
/models/
!/models/DeepSpeech_v041/
/models/*/data/*
*.csv
*.json
*tmp*
/scratch/*
*.tar*
